input {
    width: 20em;
    height: 1.5em;
}

.search-btn {
    padding: 0.15em 2em 0.15em 2em;
    margin-left: 0.3em;
    font-size: 1em;
    background-color: rgb(247, 140, 9);
    border: 1px solid rgb(247, 140, 9);
    border-radius: 4%;
    color: white;
}

.search-btn:hover {
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    input {
        width: 22em;
        height: 2em;
    }

    .search-btn {
        padding: 0.35em 2em 0.35em 2em;
    }
}

@media screen and (max-width: 767px) {
    input {
        width: 18em;
    }

    .search-btn {
        padding: 0.15em 1.3em 0.15em 1.3em;
    }
}

@media screen and (max-width: 280px) {
    input {
        width: 13em;
    }

    .search-btn {
        padding: 0.15em 1em 0.15em 1em;
    }
}